.main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header {
    padding: 2rem 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.header__title {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    padding: 0;
    line-height: 0rem;
    color: #fff;
}

.nav {
    
}

.next-previous {
    margin: 2rem 0 4rem 0;
}

.nav__list, .next-previous__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav__list-item {
    text-align: center;
}

.nav__link, .next-previous__link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-variation-settings: 'wght' 400;
    font-family: 'source serif italic', serif;
    color: #000;
}

.nav__link {
    color: #fff;
}

.nav__link:hover {
    color: #ddd;
}

.next-previous__link {
    font-variation-settings: 'wght' 600;
}

.next-previous__link:hover {
    color: #3e5d83;
}

.poem {
    grid-area: primary;
    justify-self: start;
    margin: auto;
}

.poem__header {
    font-size: 1.5rem;
    line-height: 1rem;
}

.poem__stanza {
    white-space: pre-line;
}

.poem__stanza--highlighted .poem__line {
    background-color: yellow;
}

.audio-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.3rem 0;
    background-color: rgba(0, 0, 0, 0.8);;
}

.audio-player__button {
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
    cursor: pointer;
    color: #fff;
}

.audio-player__button:active {
    font-size: 0.9rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: #222;
    font-size: 0.8rem;
}

.footer__hr {
    width: 20%;
}

.footer__link {
    font-family: 'source serif italic', serif;
    text-decoration: none;
    color: #fff;
    margin: 0.1rem;
}

.footer__link:hover {
    color: #ddd;
}

.copyright {
    color: #fff;
    margin: 0.1rem;
}