.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100%;
    min-height: 100vh;
    justify-items: center;
    align-items: start;
}

.header {
    grid-area: header;
    padding: 2rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    width: 100%;
    color: #fff;
}

.header__title {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    padding: 0;
    line-height: 0rem;
}

.nav {
    
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav__list-item {
    text-align: center;
}

.nav__link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-variation-settings: 'wght' 400;
    font-family: 'source serif italic', serif;
    color: #fff;
}

.nav__link:hover {
    color: #add8e6;
}

.primary-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: #222;
    font-size: 0.8rem;
    color: #fff;
}

.footer__hr {
    width: 20%;
}

.footer__link {
    font-family: 'source serif italic', serif;
    text-decoration: none;
    color: #fff;
    margin: 0.1rem;
}

.footer__link:hover {
    color: #add8e6;
}

.copyright {
    margin: 0.1rem;
}

.nav__link, .footer__link {
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}

.nav__link:hover, .footer__link:hover {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}