/*PARTY*/
/*PARTY OMINOUS*/
/*HOPEFUL*/
/*STORM*/
/*ICE*/
/*GHASTLY*/
.poem__stanza .poem__line {
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.poem__stanza--highlighted--party .poem__line {
  background-color: #df5135;
}

.poem__stanza--highlighted--party-ominous .poem__line {
  background-color: #c42915;
}

.poem__stanza--highlighted--hopeful .poem__line {
  background-color: #ffca3a;
}

.poem__stanza--highlighted--storm .poem__line {
  background-color: #4b6983;
}

.poem__stanza--highlighted--ice .poem__line {
  background-color: #19c583;
}

.poem__stanza--highlighted--ghastly .poem__line {
  background-color: #007700;
}

.primary-content {
  -webkit-transition: background-color 2s ease, color 2s ease;
  transition: background-color 2s ease, color 2s ease;
}

.primary-content--party {
  background-color: #1e2b41;
  color: #f8e8e2;
}

.primary-content--party-ominous {
  background-color: #161f30;
  color: #f8e8e2;
}

.primary-content--hopeful {
  background-color: #cadce6;
  color: #192835;
}

.primary-content--storm {
  background-color: #0d1321;
  color: #ffffff;
}

.primary-content--ice {
  background-color: #b5fcf0;
  color: #172623;
}

.primary-content--ghastly {
  background-color: #232c23;
  color: #eaf0ce;
}

.header, .footer {
  -webkit-transition: background-color 2s ease, color 2s ease;
  transition: background-color 2s ease, color 2s ease;
}

.header--party, .footer--party {
  background-color: #0e141e;
  color: #f8e8e2;
}

.header--party-ominous, .footer--party-ominous {
  background-color: #06080d;
  color: #f8e8e2;
}

.header--hopeful, .footer--hopeful {
  background-color: #a7c5d6;
  color: #192835;
}

.header--storm, .footer--storm {
  background-color: black;
  color: #ffffff;
}

.header--ice, .footer--ice {
  background-color: #84fae6;
  color: #172623;
}

.header--ghastly, .footer--ghastly {
  background-color: #0c100c;
  color: #eaf0ce;
}

.next-previous__link, .nav__link, .footer__link {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.next-previous__link:hover, .nav__link:hover, .footer__link:hover {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.next-previous__link--party, .nav__link--party, .footer__link--party {
  color: #f8e8e2;
}

.next-previous__link--party:hover, .nav__link--party:hover, .footer__link--party:hover {
  color: #df5135;
}

.next-previous__link--party-ominous, .nav__link--party-ominous, .footer__link--party-ominous {
  color: #f8e8e2;
}

.next-previous__link--party-ominous:hover, .nav__link--party-ominous:hover, .footer__link--party-ominous:hover {
  color: #c42915;
}

.next-previous__link--hopeful, .nav__link--hopeful, .footer__link--hopeful {
  color: #192835;
}

.next-previous__link--hopeful:hover, .nav__link--hopeful:hover, .footer__link--hopeful:hover {
  color: #ffca3a;
}

.next-previous__link--storm, .nav__link--storm, .footer__link--storm {
  color: #ffffff;
}

.next-previous__link--storm:hover, .nav__link--storm:hover, .footer__link--storm:hover {
  color: #4b6983;
}

.next-previous__link--ice, .nav__link--ice, .footer__link--ice {
  color: #172623;
}

.next-previous__link--ice:hover, .nav__link--ice:hover, .footer__link--ice:hover {
  color: #19c583;
}

.next-previous__link--ghastly, .nav__link--ghastly, .footer__link--ghastly {
  color: #eaf0ce;
}

.next-previous__link--ghastly:hover, .nav__link--ghastly:hover, .footer__link--ghastly:hover {
  color: #007700;
}
/*# sourceMappingURL=moods.css.map */