/*PARTY*/
$partyBackground: #1e2b41;
$partyBackgroundDarker: darken($partyBackground,10%);
$partyText: #f8e8e2;
$partyHighlight: #ce533a;
/*PARTY OMINOUS*/
$partyOminousBackground: darken($partyBackground, 10%);
$partyOminousBackgroundDarker: darken($partyOminousBackground,10%);
$partyOminousText: $partyText;
$partyOminousHighlight: #913225;
/*HOPEFUL*/
$hopefulBackground: #cadce6;
$hopefulBackgroundDarker: darken($hopefulBackground,10%);
$hopefulText: #192835;
$hopefulHighlight: #ffd768;
/*OMINOUS*/
$ominousBackground: #0d1321;
$ominousBackgroundDarker: darken($ominousBackground,10%);
$ominousText: #ffffff;
$ominousHighlight: #4b6983;
/*ICE*/
$iceBackground: #b5fcf0;
$iceBackgroundDarker: darken($iceBackground,10%);
$iceText: #172623;
$iceHighlight: #15e797;
/*DEATH*/
$deathBackground: #100c14;
$deathBackgroundDarker: darken($deathBackground,10%);
$deathText: #e6dbf9;
$deathHighlight: #624875;
/*STAGNANT*/
$stagnantBackground: #c6c7c4;
$stagnantBackgroundDarker: darken($stagnantBackground,10%);
$stagnantText: #3a3a3a;
$stagnantHighlight: #a58f9b;
/*GHASTLY*/
$ghastlyBackground: #202b20;
$ghastlyBackgroundDarker: darken($ghastlyBackground,10%);
$ghastlyText: #eaf0ce;
$ghastlyHighlight: #357035;

$quick: 1s;
$medium: 2s;
$slow: 5s;
$timing: ease;


.poem__stanza .poem__line {
    transition: background-color $quick $timing;
}

.poem__stanza--highlighted {
    &--party .poem__line {
        background-color: $partyHighlight;
    }
    &--party-ominous .poem__line {
        background-color: $partyOminousHighlight;
    }
    &--hopeful .poem__line {
        background-color: $hopefulHighlight;
    }
    &--ominous .poem__line {
        background-color: $ominousHighlight;
    }
    &--ice .poem__line {
        background-color: $iceHighlight;
    }
    &--death .poem__line {
        background-color: $deathHighlight;
    }
    &--stagnant .poem__line {
        background-color: $stagnantHighlight;
    }
    &--ghastly .poem__line {
        background-color: $ghastlyHighlight;
    }
}

.primary-content, .header, .footer {
    transition: background-color $medium $timing, color $medium $timing;
    &--party {
        background-color: $partyBackground;
        color: $partyText;
    }
    &--party-ominous {
        background-color: $partyOminousBackground;
        color: $partyOminousText;
    }
    &--hopeful {
        background-color: $hopefulBackground;
        color: $hopefulText;
    }
    &--ominous {
        background-color: $ominousBackground;
        color: $ominousText;
    }
    &--ice {
        background-color: $iceBackground;
        color: $iceText;
    }
    &--death {
        background-color: $deathBackground;
        color: $deathText;
    }
    &--stagnant {
        background-color: $stagnantBackground;
        color: $stagnantText;
    }
    &--ghastly {
        background-color: $ghastlyBackground;
        color: $ghastlyText;
    }
}

.header, .footer {
    &--party {
        background-color: $partyBackgroundDarker;
    }
    &--party-ominous {
        background-color: $partyOminousBackgroundDarker;
    }
    &--hopeful {
        background-color: $hopefulBackgroundDarker;
    }
    &--ominous {
        background-color: $ominousBackgroundDarker;
    }
    &--ice {
        background-color: $iceBackgroundDarker;
    }
    &--death {
        background-color: $deathBackgroundDarker;
    }
    &--stagnant {
        background-color: $stagnantBackgroundDarker;
    }
    &--ghastly {
        background-color: $ghastlyBackgroundDarker;
    }
}

.next-previous__link, .nav__link, .footer__link {
    transition: color $quick $timing;
    &:hover {
        transition: color 0.25s $timing;
    }
    &--party {
        color: $partyText;
        &:hover {
            color: $partyHighlight;
        }
    }
    &--party-ominous {
        color: $partyOminousText;
        &:hover {
            color: $partyOminousHighlight;
        }
    }
    &--hopeful {
        color: $hopefulText;
        &:hover {
            color: darken($hopefulHighlight,20%);
        }
    }
    &--ominous {
        color: $ominousText;
        &:hover {
            color: lighten($ominousHighlight,10%);
        }
    }
    &--death {
        color: $deathText;
        &:hover {
            color: lighten($deathHighlight,20%);
        }
    }
    &--ice {
        color: $iceText;
        &:hover {
            color: darken($iceHighlight,20%);
        }
    }
    &--stagnant {
        color: $stagnantText;
        &:hover {
            color: darken($stagnantHighlight,20%);
        }
    }
    &--ghastly {
        color: $ghastlyText;
        &:hover {
            color: lighten($ghastlyHighlight,10%);
        }
    }
}