/*PARTY*/
$partyBackground: #1e2b41;
$partyBackgroundDarker: darken($partyBackground,10%);
$partyText: #f8e8e2;
$partyHighlight: #df5135;
/*PARTY OMINOUS*/
$partyOminousBackground: darken($partyBackground, 5%);
$partyOminousBackgroundDarker: darken($partyOminousBackground,10%);
$partyOminousText: $partyText;
$partyOminousHighlight: #c42915;
/*HOPEFUL*/
$hopefulBackground: #cadce6;
$hopefulBackgroundDarker: darken($hopefulBackground,10%);
$hopefulText: #192835;
$hopefulHighlight: #ffca3a;
/*STORM*/
$stormBackground: #0d1321;
$stormBackgroundDarker: darken($stormBackground,10%);
$stormText: #ffffff;
$stormHighlight: #4b6983;
/*ICE*/
$iceBackground: #b5fcf0;
$iceBackgroundDarker: darken($iceBackground,10%);
$iceText: #172623;
$iceHighlight: #19c583;
/*GHASTLY*/
$ghastlyBackground: #232c23;
$ghastlyBackgroundDarker: darken($ghastlyBackground,10%);
$ghastlyText: #eaf0ce;
$ghastlyHighlight: #007700;

$quick: 1s;
$medium: 2s;
$slow: 5s;
$timing: ease;


.poem__stanza .poem__line {
    transition: background-color $quick $timing;
}

.poem__stanza--highlighted {
    &--party .poem__line {
        background-color: $partyHighlight;
    }
    &--party-ominous .poem__line {
        background-color: $partyOminousHighlight;
    }
    &--hopeful .poem__line {
        background-color: $hopefulHighlight;
    }
    &--storm .poem__line {
        background-color: $stormHighlight;
    }
    &--ice .poem__line {
        background-color: $iceHighlight;
    }
    &--ghastly .poem__line {
        background-color: $ghastlyHighlight;
    }
}

.primary-content {
    transition: background-color $medium $timing, color $medium $timing;
    &--party {
        background-color: $partyBackground;
        color: $partyText;
    }
    &--party-ominous {
        background-color: $partyOminousBackground;
        color: $partyOminousText;
    }
    &--hopeful {
        background-color: $hopefulBackground;
        color: $hopefulText;
    }
    &--storm {
        background-color: $stormBackground;
        color: $stormText;
    }
    &--ice {
        background-color: $iceBackground;
        color: $iceText;
    }
    &--ghastly {
        background-color: $ghastlyBackground;
        color: $ghastlyText;
    }
}

.header, .footer {
    transition: background-color $medium $timing, color $medium $timing;
    &--party {
        background-color: $partyBackgroundDarker;
        color: $partyText;
    }
    &--party-ominous {
        background-color: $partyOminousBackgroundDarker;
        color: $partyOminousText;
    }
    &--hopeful {
        background-color: $hopefulBackgroundDarker;
        color: $hopefulText;
    }
    &--storm {
        background-color: $stormBackgroundDarker;
        color: $stormText;
    }
    &--ice {
        background-color: $iceBackgroundDarker;
        color: $iceText;
    }
    &--ghastly {
        background-color: $ghastlyBackgroundDarker;
        color: $ghastlyText;
    }
}

.next-previous__link, .nav__link, .footer__link {
    transition: color $quick $timing;
    &:hover {
        transition: color 0.25s $timing;
    }
    &--party {
        color: $partyText;
        &:hover {
            color: $partyHighlight;
        }
    }
    &--party-ominous {
        color: $partyOminousText;
        &:hover {
            color: $partyOminousHighlight;
        }
    }
    &--hopeful {
        color: $hopefulText;
        &:hover {
            color: $hopefulHighlight;
        }
    }
    &--storm {
        color: $stormText;
        &:hover {
            color: $stormHighlight;
        }
    }
    &--ice {
        color: $iceText;
        &:hover {
            color: $iceHighlight;
        }
    }
    &--ghastly {
        color: $ghastlyText;
        &:hover {
            color: $ghastlyHighlight;
        }
    }
}